*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: inherit;
}

:root {
    --main-font-family: 'Montserrat', sans-serif;
    --main-font-size: 1.5rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
}

a {
    text-decoration-line: none;
}

ul {
    list-style-type: none;
}


